YouTubeMvc3/Service References/ServiceReferenceAddress/WcfServiceLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMyAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyAddress" nillable="true" type="tns:MyAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyAddress" nillable="true" type="tns:ArrayOfMyAddress" />
  <xs:complexType name="MyAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyAddress" nillable="true" type="tns:MyAddress" />
</xs:schema>